<navbar-component></navbar-component>

<h2>Export Feedback</h2>

<ul class="list-group">
    <li class="row list-group-item">
        <div class="col-sm-2">
            Data Set
        </div>
    </li>
    <li *ngFor="let uploadId of uploadIds" class="row list-group-item">

        <div class="col-sm-2">
            {{ uploadId }}
        </div>
        <div class="col-sm-4">
            <a [attr.href]="this.url + uploadId">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                Download feedback for this data set
            </a>
        </div>
    </li>
</ul>

<button  [routerLink]="['/admin']" class="btn btn-primary btn-lg" style="float: right">Back to Admin Page</button>