<div *ngIf="this.authorized" class="import-page">
    <h2>Import Spreadsheet</h2>

    <file-upload #fu (change)="filename = undefined; uploadAttempted = false; uploadStarted = false" [multiple]="false">-</file-upload>


    <button *ngIf="filename === undefined && !uploadStarted" class="btn btn-primary" (click)="this.handleUpload()" style="margin-top: 10px">
        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
        Import
    </button>

    <div *ngIf="filename!==undefined"> Your file was successfully uploaded as data set {{this.filename}}.
    </div>
    <div *ngIf="filename === undefined && uploadAttempted === true">File upload failed.</div>

    <div>
        <button  [routerLink]="['/admin']" class="btn btn-primary" style="float: right">Back to Admin Page</button>
    </div>
</div>

<style>
    .import-page {
        margin-top: -115px;
    }
</style>