<navbar-component></navbar-component>

<file-upload #fu (change)="filename = undefined; uploadAttempted = false" [multiple]="false">-</file-upload>


<button *ngIf="filename === undefined" class="btn btn-primary" (click)="this.handleUpload()" style="margin-top: 10px">
    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
    Import
</button>
<!-- todo clear the  status message when they go to upload again. -->
<div *ngIf="filename!==undefined"> Your file was successfully uploaded as data set {{this.filename}}.</div>
<div *ngIf="filename === undefined && uploadAttempted === true">File upload failed.</div>