<div class="photo-page">
    <h2>Upload a Plant Photo</h2>

<div>
    Plant ID#
    <input #textbox type="text" [(ngModel)]="textValue">
    <button (click)="getPlant(textbox.value)" class="btn btn-primary">Find</button>
</div>

    <div *ngIf="plant" >
        <br>
        <u><strong>Plant</strong></u><br>
        <strong>Common Name:</strong> {{plant.commonName}}<br>
        <strong>Cultivar:</strong> {{plant.cultivar}}<br>
        <br>
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            Upload
        </button>
    </div>

</div>

<style>
    .photo-page {
        margin-top: -115px;
    }
</style>