<garden-navbar-component #nav></garden-navbar-component>

<ul class="list-group" style="font-size: medium">
    <li class="list-group-item" *ngIf="(plants | filterBy: {commonName: nav.currentCN}).length !== 0">
        <strong>Flowers</strong>
    </li>
    <li class="text-center list-group-item list-group-item-info" *ngIf="(plants | filterBy: {commonName: nav.currentCN}).length === 0">
        <strong>No flowers found for "{{nav.currentCN}}"</strong>
    </li>
    <li *ngFor="let plant of plants | filterBy: {commonName: nav.currentCN}"  class="list-group-item text-center">
        <!--Button is a hyperlink to a plant page "/plants/:plantID"-->
        <!--See app.routes.ts-->
        <span [routerLink]="['/plants', plant.id, {srcBed:bed}]" style="white-space: normal">
            <strong>{{plant.commonName}}</strong><br>
            {{plant.cultivar}}</span>
    </li>
</ul>