<garden-navbar-component #nav></garden-navbar-component>

<ul class="list-group">
    <li class="list-group-item list-group-item-info" *ngIf="(plants | filterBy: {commonName: nav.currentCN}).length !== 0">
        <span>Flowers</span>
    </li>
    <li class="list-group-item list-group-item-info" *ngIf="(plants | filterBy: {commonName: nav.currentCN}).length === 0">
        <span>No flowers found for "{{nav.currentCN}}"</span>
    </li>
    <li *ngFor="let plant of plants | filterBy: {commonName: nav.currentCN}"  class="list-group-item">
        <!--Button is a hyperlink to a plant page "/plants/:plantID"-->
        <!--See app.routes.ts-->
        <button [routerLink]="['/plants', plant.id, {srcBed:bed}]" style="white-space: normal" class="btn btn-link btn-block" >
            <strong style="font-size:18px">{{plant.cultivar}}</strong><br>
            {{plant.commonName}}</button>
    </li>
</ul>