<div class="plant">
    <h2>{{plant.cultivar}}</h2>
    <h3>{{plant.commonName}}</h3>

    <br/>

    <h3>Leave Feedback for Flower</h3>
    <div *ngIf="rating === null" style="text-align:center; padding-bottom: 0.3em">
        <button type="button" (click)="this.ratePlant(true)" class="btn btn-success" >
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span> Like
        </button>
        <button type="button" (click)="this.ratePlant(false)" class="btn btn-danger">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> </span> Dislike
        </button>
    </div>

    <div *ngIf="rating === true" style="text-align:center">
        <button type="button" style="border: none; background: inherit; outline: none;font-size:20px" class="text-success" >
            <span class="glyphicon glyphicon-thumbs-up " aria-hidden="true"></span>
             Liked!
        </button>
    </div>

    <div *ngIf="rating === false" style="text-align:center">
        <button type="button" style="border: none; background: inherit; outline: none;font-size:20px" class="text-success">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            Disliked
        </button>
    </div>
    <div *ngIf="!commented">
        <textarea [(ngModel)]="commentText" rows="5" wrap="on" style="resize:vertical;width: 100%;color:#4e3e0a; font-size:18px"></textarea>
    </div>
    <span *ngIf="commented" >
        <br/>
        &ensp; <!--Makes the following text indented, &ensp; is whitespace-->
        <span style="font-size:18px;color:#008119">
            <strong>Your feedback has been submitted.</strong>
        </span>
        <br/>
        <br/>
    </span>

    <div style="padding-top: 0.3em" style="text-align:right;">
        <span>
            {{plantFeedback.interactionCount}} interactions with this plant.
        </span>
        <span *ngIf="!commented">
            <button (click)="this.comment(commentText)" class="btn btn-primary btn-lg" >Submit feedback</button>
        </span>

    </div>
    <br/>
    <br/>
    <br/>
    <span *ngIf="srcBed !== null">
        <button  type="button" [routerLink]="['/bed', srcBed]" class="btn btn-primary btn-lg" style="float: right">Back</button>
    </span>

</div>


<style>
    .plant {
        margin-top: -30%;
    }
</style>