<div class="plant">
    <h2>{{plant.cultivar}}</h2>
    <h3>{{plant.commonName}}</h3>

    <br/>

    <h3>Leave Feedback for Flower</h3>
    <span *ngIf="!commented">
        <textarea [(ngModel)]="commentText" rows="5" wrap="on" style="resize:vertical;width: 100%;color:#4e3e0a; font-size:18px"></textarea>

    </span>
    <span *ngIf="commented" >
        <br/>
        &ensp; <!--Makes the following text indented, &ensp; is whitespace-->
        <span style="font-size:18px;color:#008119">
            <strong>Your feedback has been submitted.</strong>
        </span>
        <br/>
        <br/>
    </span>

    <div style="padding-top: 0.3em">
        <span *ngIf="rating === null">
            <button type="button" (click)="this.ratePlant(true)" style="border: none; background: inherit; outline: none;font-size:20px">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                {{plantFeedback.likeCount}}
            </button>
            <button type="button" (click)="this.ratePlant(false)" style="border: none; background: inherit; outline: none;font-size:20px">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                {{plantFeedback.dislikeCount}}
            </button>
        </span>

        <span *ngIf="rating === true">
            <button type="button" style="border: none; background: inherit; outline: none;font-size:20px" class="text-success" >
                <span class="glyphicon glyphicon-thumbs-up " aria-hidden="true"></span>
                Liked! <span class="label label-default">{{plantFeedback.likeCount}}</span>
            </button>
        </span>

        <span *ngIf="rating === false">
            <button type="button" style="border: none; background: inherit; outline: none;font-size:20px" class="text-success">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                Disliked <span class="label label-default">{{plantFeedback.dislikeCount}}</span>

            </button>
        </span>

        <span *ngIf="!commented">
            <button (click)="this.comment(commentText)" class="btn btn-primary btn-lg" style="float: right">Submit feedback</button>
        </span>
    </div>

   <div>
       {{plantFeedback.commentCount}} people have left feedback
   </div>
    <br/>
    <br/>
    <br/>
    <span *ngIf="srcBed !== null">
        <button  type="button" [routerLink]="['/bed', srcBed]" class="btn btn-primary btn-lg" style="float: right">Back</button>
    </span>

</div>


