<garden-navbar-component></garden-navbar-component>


<!--Todo Add instructions :)-->

<h3> See the flowers in a specific bed in two steps using our QR-Codes!</h3>
<h3> Instructions: </h3>
<b>Step 1)</b> Open a QR-Code Scanner App on your smartphone.<br/>
<b>Step 2)</b> Point the camera towards the QR-Code on the sign to scan it.


<h3> Check out a bed </h3>
<!--Bed dropdown list-->
<!--TODO Make the bed options send them to the corresponding bedpage-->
Select Bed
<select id="locationDropdown" (change)="this.router.navigate(['/bed', this.bed])" [(ngModel)]=bed>
    <!--<option value="">Select Bed</option>-->
    <option *ngFor="let location of locations" value="{{location._id}}">{{location._id}}</option>
</select>

<h3> Find location of your favorite flower </h3>
<!--Searchbar that causes a list of flowers that has a commonname equal to the search value-->
<!--TODO Give the searchbar Funcionality, offer autocomplete to their text?-->
<input #input type="text" placeholder="Favorite Flower" (input)="searchID = $event.target.value">