<garden-navbar-component #nav></garden-navbar-component>

<ul class="list-group" *ngIf="nav.currentCN">
    <li class="list-group-item list-group-item-info">
        <span>Matching flowers</span>
    </li>
    <li *ngFor="let each of currentList | filterBy: {commonName: nav.currentCN}"  class="list-group-item">
        <!--Button is a hyperlink to a plant page "/plants/:plantID"-->
        <!--See app.routes.ts-->
        <button [routerLink]="['/plants', each.id, {srcBed:bed}]" style="white-space: normal" class="btn btn-link btn-block" >
            <strong style="font-size:18px">{{each.cultivar}}</strong><br>
            {{each.commonName}}</button>
    </li>
</ul>

<!--Todo Add instructions :)-->

<h3> See the flowers in a specific bed in two steps using our QR-Codes!</h3>
<h3> Instructions: </h3>
<b>Step 1)</b> Open a QR-Code Scanner App on your smartphone.<br/>
<b>Step 2)</b> Point the camera towards the QR-Code on the sign to scan it.
